body {
    font-family: Arial, Helvetica, sans-serif;
}

.open__modal {
    background-color: rgb(36, 36, 206);
    border: 1px none;
    border-radius: 0.15rem;
    box-sizing: border-box;
    color: white;
    float: right;
    padding: 0.40rem 1rem;
}

.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__content {
    background-color: white;
    border: 1px solid rgb(119, 118, 118);
    box-sizing: border-box;
    margin: 10% auto;
    padding: 1rem;
    animation: fadein .3s;
}

@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

.close__modal {
    background-color: transparent;
    border: 1px none;
    float: right;
    font-size: 1rem;
}

.btn--green {
    background-color:  rgb(24, 168, 24);
    border: 1px none;
    border-radius: 0.15rem;
    box-sizing: border-box;
    color: white;
    padding: 0.40rem 1rem;
}

.btn--red {
    background-color:  rgb(236, 47, 47);
    border: 1px none;
    border-radius: 0.15rem;
    box-sizing: border-box;
    color: white;
    padding: 0.40rem 1rem;
}

.footer__btn {
    bottom: 0;
    float: right;
    margin: -1rem 0.2rem;
}


@media only screen and (min-width:560px) {
    .modal__content {
       width: 50%;
    }
}

@media only screen and (max-width:560px) {
    .modal__content {
       width: 100%;
    }
}